<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServiceController</servlet-name>
        <servlet-class>controller.CreateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentController</servlet-name>
        <servlet-class>controller.BookAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServiceController</servlet-name>
        <servlet-class>controller.ReviewServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewConsultationController</servlet-name>
        <servlet-class>controller.ViewConsultationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppointmentsController</servlet-name>
        <servlet-class>controller.ViewAppointmentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentController</servlet-name>
        <servlet-class>controller.CancelAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletedAppointmentController</servlet-name>
        <servlet-class>controller.CompletedAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServicesController</servlet-name>
        <servlet-class>controller.ViewServicesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>controller.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceController</servlet-name>
        <servlet-class>controller.DeleteServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServiceController</servlet-name>
        <url-pattern>/CreateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentController</servlet-name>
        <url-pattern>/BookAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServiceController</servlet-name>
        <url-pattern>/ReviewServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewConsultationController</servlet-name>
        <url-pattern>/ViewConsultationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppointmentsController</servlet-name>
        <url-pattern>/ViewAppointmentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentController</servlet-name>
        <url-pattern>/CancelAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletedAppointmentController</servlet-name>
        <url-pattern>/CompletedAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServicesController</servlet-name>
        <url-pattern>/ViewServicesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/UpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceController</servlet-name>
        <url-pattern>/DeleteServiceController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
